<div style="overflow:auto;">
        <div class="mat-elevation-z8">
            <mat-table [dataSource]="listData" matSort> 
                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                <mat-row *matRowDef="let row; columns:displayedColumns;"></mat-row>
                <ng-container matColumnDef="Options">
                <mat-header-cell *matHeaderCellDef>Options</mat-header-cell>
                <mat-cell *matCellDef="let row">
                    <button mat-icon-button (click)="onEdit(row)">
                        <mat-icon>launch</mat-icon>
                    </button>
                    <button mat-icon-button (click)="onDelete(row.Id)">
                            <mat-icon>delete_outline</mat-icon>
                    </button>
                </mat-cell> 
                </ng-container>
                <ng-container matColumnDef="Code">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Code</mat-header-cell>
                    <mat-header-cell *matCellDef="let element">{{element.Code}}</mat-header-cell>
                </ng-container>
                <ng-container matColumnDef="Name">
                        <mat-header-cell *matHeaderCellDef mat-sort-header>Name</mat-header-cell>
                <mat-header-cell *matCellDef="let element">{{element.Name}}</mat-header-cell>
                </ng-container>
                <ng-container matColumnDef="Unit">
                        <mat-header-cell *matHeaderCellDef>Unit</mat-header-cell>
                <mat-header-cell *matCellDef="let element">{{element.Unit}}</mat-header-cell>
                </ng-container>
                <ng-container matColumnDef="UnitPrice">
                            <mat-header-cell *matHeaderCellDef mat-sort-header>UnitPrice</mat-header-cell>
                    <mat-header-cell *matCellDef="let element">{{element.UnitPrice}}</mat-header-cell>
                </ng-container>
        
            </mat-table>
        </div>
        </div>